.btn{
    color: #777;
    font-size: 1.6rem;
    cursor: pointer;
    border: .1rem solid rgba(18, 236, 91, 0.856);
    padding: .5rem 1rem;
    margin: .5rem;
}
.btn:hover{
    background-color:  rgba(18, 236, 91, 0.856);
    color: white;
}
.heading{
    font-size: 2rem;
    color: #777;
}
.area{
    border: .2rem solid rgba(18, 236, 91, 0.856);
    display: block;
    margin: 1rem;
    padding: 1rem;
}
.field{
    border: .1rem solid rgba(18, 236, 91, 0.856);
    height: 3rem;
    margin: .2rem;
    padding: .1rem;

}

#about_me{
    height: 5rem;
    width: 40rem;
}